
<div class="carousel bg-color4">
<h3 >轮播图片</h3>
</div>
<div class="body1 bg-color1 body-text">
    <h1> 专属年轻人的高品质家装 </h1>
    <br>
    <h4>只服务于追求品质生活的年轻人</h4>
    <h4>全面升级产品，更一流的速度，更一流的服务</h4>
    <h4>品质家装为你带来身临其境之感</h4>
</div>


<div class="body2 bg-color2">
  <div class="body2-text">
    <h1> 3D体验馆 </h1>
    <br>
    <h4>360°全景还原，为你带来身临其境之感</h4>
  </div>
  <div class="productList">
    <div class="productList-item ">
      <%= image_tag 'pic_1.png', class: 'img-responsive' %>
      <h4 class="productNote-item">幸福物语</h4>
    </div>
    <div class="productList-item ">
      <%= image_tag 'pic_2.png', class: 'img-responsive' %>
      <h4 class="productNote-item">自然本真</h4>
    </div>
    <div class="productList-item">
      <%= image_tag 'pic_3.png', class: 'img-responsive' %>
      <h4 class="productNote-item">时日留痕</h4>
    </div>
  </div>

</div>



<div class="body3 style="background:#aaa"">
  <div class="body3-text">
    <h1> 家装热点 </h1>
    <br>
    <h4>全媒体争相报道</h4>
  </div>
  <div class="newList">
      <div class="newList-left">
        <div class="clearfix ">
          <div class="newtList-item ">
          <%= image_tag 'pic_new1.jpg', class: 'img-responsive' %>
        </div>
        <div class="new-text">
        <h4 class="topic-text">「美窝家装」获3000万元天使轮融资，美图董事长蔡文胜20分钟签协议</h4>
          定位于27-35岁年轻人的高端互联网家装品牌“美窝家装”宣布获得3000万元天使轮融资，投资方包括：初心资本、蔡文胜执掌的隆领资本
        </div>
      </div>
    </div>
      <div class="newList-right ">
        <div class="clearfix ">
          <div class="newtList-item ">
          <%= image_tag 'pic_new2.jpg', class: 'img-responsive' %>
        </div>
        <div class="new-text">
        <h4 class="topic-text">「美窝家装」:只做27-35岁年轻人装逼的家装产品</h4>
          美窝借鉴了日系建筑和室内的人性化设计，同时，充分考虑了中国年轻人的居住习惯。极简、轻奢、人性化是美窝的设计标签
        </div>
      </div></div>
  </div>
</div>

<div class="body4 bg-color4">
  <div class="body4-text">
    <a class="action-btn bg-color5" href="#"> 我要装修 </a>
  </div>
</div>
