<h2 class="a-title">请留下你的预约信息</h2>
<div class="personality">10秒预约,免费获取专属客户经理服务 </div>
<%= simple_form_for @appointment do |ap| %>
    <div class="login_register_sub appoint-detail">
        <div class="login_register_su1">
            <span style="padding-top:5px">姓名：</span>
            <div class="input">
                <%= ap.input :name, label: false,placeholder: '请输入您的姓名', autofocus: true, input_html: { class: "form-control"} %>
            </div>
        </div>
        <div class="login_register_su1">
            <span>电话：</span>
            <div class="input">
                <%= ap.input :phone, label: false, placeholder:"请输入您的电话" , input_html: { class: "form-control"} %>
            </div>
        </div>
    </div>
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <div class="login_register_su1">
        <span style="margin-right:34px">预约日期: </span>
        <div class="input dateform">
            <%= ap.input :date, label: false, placeholder:"请选择您的预约日期" ,  input_html:{ id:"datepicker"} %>
        </div>
    </div>
    <div class="center-button">
        <%= ap.submit "立即预约", class: "button",
                      data: { disable_with: "Submitting..." } %>
    </div>
<% end %>
<script>
    $( function() {
                                                                                                            $( "#datepicker" ).datepicker();
                                                                                                            } );
</script>
