<!--客厅大图-->
<div class="living-carousel">  <%=image_tag'https://ws4.sinaimg.cn/large/006tNbRwgy1ffvjo1yq2vj310k0biadf.jpg'%></div>
<!--风格菜单-->
<div class="menuList">
    <div class="btn btn-default manner">简约</div>
    <div class="btn btn-default manner">北欧</div>
    <div class="btn btn-primary manner">日式</div>
    <div class="btn btn-primary manner">古典</div>
</div>
<!-- BEGIN PRODUCTS -->
<div class="ssgList">
    <% @products.each do |product| %>
        <div ng-repeat="item in codeList" class="item ng-scope">
            <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                    <%= image_tag(product.image.thumb.url) %>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                <% end %>
            <% end %>
            <span class="title ng-binding"><%= product.title %></span>
            <span class="time ng-binding"> ￥<%= product.price %></span>
        </div>
    <% end %>
</div>
