<!-- 商品概述 -->
<div class="productDetail",sytle="margin-top:100px">
    <!-- 商品主图 -->
    <div class="productDetail-left bg-color11">
        <div class="productDetail-left-bigImage thumbnail bg-color13">
            <% if @photos.present? %>
                <% @photos.each_with_index do |p, index| %>
                    <% if index == 0 %>
                        <%= image_tag p.avatar.medium.url %>
                    <% end %>
                <% end %>
            <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
        </div>
    </div>
    <!-- 商品信息 -->
    <div class="productDetail-right bg-color12">
        <h3 class="product-title"><%= @product.title %></h3>
        <div class="rating">
            <div class="stars">
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
        </div>
        <p class="product-description"><%=@product.description %></p>
        <h3 class="price1">current price: <span>￥<%= @product.price %></span></h3>
        <div class="action" style="width:240px;height:200px">
            <div class="add-to-cart" style="float:left;margin-right:0.05em">
                <% if @product.quantity.present? && @product.quantity > 0 %>
                    <%= button_to "加入购物车",  add_to_cart_product_path(@product), :class=> :addcart %>
                <% else %>
                    对不起，此商品已经下架！
                <% end %>
            </div>
            <div class="like" style="float:right">
                <% if current_user && current_user.is_favorite_of?(@product) %>
                    <%= button_to '取消收藏'.html_safe, favorite_product_path(@product, type: "unfavorite"), :method => :put, :class=>:favorite  %>
                <% else %>
                    <%= button_to '添加收藏'.html_safe, favorite_product_path(@product, type: "favorite"), method: :put, :class=>:favorite %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- 商品详情区域 + 推荐展示 -->
<!-- 商品详情区域 + 商品评论区域 -->
<div class="col-md-8  product-particulars">
    <!-- 导航栏 -->
    <div class="row">
        <ul class="nav nav-tabs nav-justified">  <!--nav-justified整个画面详情和评论各占一半-->
            <li class="active">
                <a href="#tab_default_1" data-toggle="tab">商品详情</a>
            </li>
            <li>
                <a href="#tab_default_2" data-toggle="tab">用户评价 (<%= @product.posts.count %>) </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <!-- 商品详情区域 -->
        <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <% @product.photos.each do |p| %>
                <%= image_tag p.avatar.thumb.url,class: "thumbnail col-md-6",sytle:"width:356px;height:356px"%>
            <% end %>
        </div>
        <!-- 商品评论区域 --><!--对商品评论以及评星-->
        <div class="product-particulars-box row tab-pane" id="tab_default_2" style="overflow-y:auto">
            <div class="productDetail-evaluation w200 bc">
                <div class="text-center">
                    <div class="intro-text-count clearfix mt10">
                        <div class="fl mr10">工期: </div>
                        <div class="star-speed" data-score= <%= @avg_post %> ></div>
                    </div>
                    <div class="intro-text-count clearfix mt10">
                        <div class="fl mr10">服务: </div>
                        <div class="star-service" data-score= <%= @avg_service %> ></div>
                    </div>
                    <div class="intro-text-count clearfix mt10">
                        <div class="fl mr10">价格: </div>
                        <div class="star-price" data-score= <%= @avg_price %> ></div>
                    </div>
                </div>
                <ul class="commentList mt70">
                    <% @posts.each do |post| %>
                        <li class="commentList-item w700 pt10 pb10 bc clearfix">
                            <p class="fl content tl f12">
                                <%= emojify post.content  %><br>
                                <% if post.graphics.present? %>
                                    <% post.graphics.each_with_index do |p, index| %>
                                        <%= image_tag p.avatar.medium.url, class: "commentImage border" %>
                                    <% end %>
                                <% end %>
                                <br>
                                <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fczn4z618nj301a010mwz.jpg" class="commentBigImage">
                            </p>
                            <p class="fr name ell tr f12">
                                <%= post.user.email %>
                            </p>
                        </li>
                    <% end %>
                </ul>
                <p class="comment-say mt20 mb20">
                    <%= link_to("我要评论", new_product_post_path(@product),
                       :class => "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc") %>
                </p>
            </div>
        </div>
    </div>
</div>
