<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <% if @product.image.present? %>
                                <%= image_tag(@product.image.medium.url, class:"thumbnail") %>
                            <% else %>
                                <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title"><%= @product.title %></h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description"><%=@product.description %></p>
                    <h3 class="price1">current price: <span>￥<%= @product.price %></span></h3>
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">
                            <% if @product.quantity.present? && @product.quantity > 0 %>
                                <%= link_to("add to cart",add_to_cart_product_path(@product),:method=> :post) %>
                            <% else %>
                                对不起，此商品已经下架！
                            <% end %></button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        <% if current_user && current_user.is_favorite_of?(@product) %>
                            <%= link_to('取消收藏'.html_safe, favorite_product_path(@product, type: "unfavorite"), method: :put) %>
                        <% else %>
                            <%= link_to('添加收藏'.html_safe, favorite_product_path(@product, type: "favorite"), method: :put) %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
