<!-- 商品概述 -->
<div class="productDetail",sytle="margin-top:600px">
    <!-- 商品主图 -->
    <div class="productDetail-left bg-color11">
        <div class="productDetail-left-bigImage bg-color13">
            <% if @photos.present? %>
                <% @photos.each_with_index do |p, index| %>
                    <% if index == 0 %>
                        <%= image_tag p.avatar.medium.url , class: "thumbnailsh"%>
                    <% end %>
                <% end %>
            <% else %>
                <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
            <% end %>
        </div>
    </div>


    <!-- 商品信息 -->
    <div class="productDetail-right bg-color12">
        <h3 class="product-title"><%= @product.title %></h3>
        <div class="rating">
            <div class="stars">
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
        </div>
        <ul>
          <% @product.attachments.each do |a| %>
            <li><%= link_to a.description, a.attachment.url %></li>
          <% end %>
        </ul>
        <p class="product-description"><%=@product.description %></p>
        <p><%= @product.created_at.to_s %></p>
        <h3 class="price1">current price: <span>￥<%= @product.price %></span></h3>
        <div class="col-md-8">
            <div class="add-to-cart" style="float:left;margin-right:0.05em">
                <% if @product.quantity.present? && @product.quantity > 0 %>
                    <%= button_to t("add_cart"),  add_to_cart_product_path(@product), :class=> :addcart %>
                <% else %>
                    对不起，此商品已经下架！
                <% end %>
            </div>
            <div class="like" style="float:right">
                <% if current_user && current_user.is_favorite_of?(@product) %>
                    <%= button_to t('cancel_favorite').html_safe, favorite_product_path(@product, type: "unfavorite"), :method => :put, :class=>:favorite  %>
                <% else %>
                    <%= button_to t("favorite").html_safe, favorite_product_path(@product, type: "favorite"), method: :put, :class=>:favorite %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- 商品详情区域 + 推荐展示 -->
<!-- 商品详情区域 + 商品评论区域 -->
<div class="col-md-12  product-particulars" style="margin:0 auto;">
    <!-- 导航栏 -->
    <div class="row">
        <ul class="nav nav-tabs nav-justified">  <!--nav-justified整个画面详情和评论各占一半-->
            <li class="active">
                <a href="#tab_default_1" data-toggle="tab">商品详情</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <!-- 商品详情区域 -->
        <div class="product-particulars-box row tab-pane active" id="tab_default_1">
            <% @product.photos.each do |p| %>
                <%= image_tag p.avatar.thumb.url,class: "thumbnail1 col-md-5"%>
            <% end %>
        </div>
        <!-- 商品评论区域 --><!--对商品评论以及评星-->
    </div>
</div>
