<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="navbar-wrap"  id="navbar">
    <div class="navbar">
        <ul class="navbar-left">
            <li class="navbar-listItem-left">
                <a href="/">  <%= image_tag 'logo-lit.png' %>    Dream House</a>
            </li>
            <li class="navbar-spacer-left fl"></li>
            <li class="navbar-listItem-left">
                <a href="/">首页</a>
            </li>
            <li class="navbar-listItem-left">
                <%= link_to("设计",products_path) %>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div class="cart-wrap">
                <div class="cart">
                    <a href="/carts" ><%= link_to carts_path do %>
                            <i class="fa fa-shopping-cart cart-icon "></i>我的购物车(<%= current_cart.products.count %>)
                        <% end %>
                    </a>
                </div>
            </div>
            <% if !current_user %>
                <li class="navbar-listItem-right">
                    <%= link_to("注册", new_user_registration_path) %>
                </li>
                <li class="navbar-spacer-right fl"></li>
                <li class="navbar-listItem-right">
                    <%= link_to("登入", new_user_session_path) %>
                </li>
            <% else %>
                <!-- <li class="navbar-listItem-right"> -->
                <li class="dropdown">
                    <a class="btn .btn-link dropdown-toggle" role="menu" data-toggle="dropdown">
                        Hi!,<%= current_user.email %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                            <li><%= link_to("Admin选单",admin_products_path) %></li>
                            <li>
                                <%= link_to("新增分类", categories_path ) %>
                            </li>
                            <li><%= link_to('顾客预约单',appointments_path) %>    </li>
                        <% end %>
                        <li><%= link_to('我的收藏'.html_safe, favorite_index_path) %>    </li>
                        <li>
                            <%= link_to("个人订单列表", account_orders_path ) %>
                        </li>
                        <li><%= button_to("登出",destroy_user_session_path, method: :delete) %></li>
                    </ul>
                </li>
                <!-- </li> -->
            <% end %>
            <!-- </ul> -->
        </ul>
    </div>
</div>
